@charset "UTF-8";

/* select */
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #cccccc;
    box-sizing: border-box;
    /*clear: both;*/
    cursor: pointer;
    display: block;
    /*float: left;*/
    font-family: inherit;
    font-size: 12px;
    font-weight: normal;
    height: 32px;
    line-height: 30px;
    outline: none;
    padding-left: 10px;
    padding-right: 25px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.nice-select:hover {
    border-color: #d0dae5;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
    border-color: #88bfff;
}

.nice-select:after {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select.open:after {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.nice-select.disabled {
    border-color: #e7ecf2;
    color: #90a1b5;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cdd5de;
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .list {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .list {
    padding: 10px 5px;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
    border: solid 1px #eaeaea;
    background-color: #ffffff;

    box-sizing: border-box;
    margin-top: 5px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 30px;
    list-style: none;
    min-height: 30px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #ecf3fe;
}

.nice-select .option.selected {
    font-weight: normal;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #90a1b5;
    cursor: default;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}


/* multi select widget */

.ui-multiselect.ui-state-default {
    float: left;
    position: relative;
    padding: 0 36px 0 12px;
    width: 220px;
    height: 45px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    color: #000;
    font-family: 'HyundaiSansText', 'Hyndai Sans ENG', 'HyundaiSansHead', Arial, Dotum, serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-top .ui-multiselect.ui-state-default {
    float: none;
    margin: 0 0 10px 10px;
    width: 150px;
    height: 35px;
    font-size: 13px;
    vertical-align: top;
}

.ml-10,
.ml-10 + .ui-multiselect.ui-state-default {
    margin-left: 10px;
}

.ui-multiselect.ui-state-default:before {
    content: '';
    position: absolute;
    top: calc(50% - 6px);
    right: 12px;
    display: block;
    float: right;
    width: 6px;
    height: 6px;
    border-left: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
    transform: rotate(-45deg);
    box-sizing: border-box;
    margin: 1px 3px 0;
    vertical-align: middle;
    transition: all 200ms
}

.ui-multiselect.ui-state-default.ui-state-active:before {
    transform: rotate(135deg);
    margin: 5px 3px 0 0;
}

.ui-multiselect .ui-multiselect-open {
    opacity: 0;
    width: 0;
}

.ui-multiselect-menu.ui-widget {
    padding: 0;
    border-radius: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
    border: none;
}

.ui-multiselect-header.ui-widget-header {
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    background: none;
}

.ui-multiselect-header.ui-widget-header .ui-multiselect-filter {
    margin: 0;
    width: 100%;
}

.ui-multiselect-header.ui-widget-header .ui-multiselect-filter .ui-multiselect-filter-label {
    display: block;
    width: 100%;
}

.ui-multiselect-header.ui-widget-header .ui-multiselect-filter .ui-multiselect-filter-label input {
    margin: 0;
    width: 100%;
    height: 39px;
    padding: 0 10px 0 34px;
    line-height: 39px;
    border: none;
    color: #999;
    box-sizing: border-box;
    background: url("../img/icon-search-2.svg") no-repeat left 10px center #f8f8f8;
}

.ui-multiselect-header.ui-widget-header .ui-helper-reset {
    border-bottom: 1px solid #eaeaea;
}

.ui-multiselect-header.ui-widget-header .ui-helper-reset li {
    display: inline-block;
    padding-left: 15px;
    background-color: #fff;
    vertical-align: top;
    height: 35px;
    line-height: 35px;
    color: #000;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    font-size: 12px;
    width: auto;
}

.ui-multiselect-header.ui-widget-header .ui-helper-reset li + li {
    padding-left: 10px;
}

.ui-multiselect-header.ui-widget-header .ui-helper-reset li .ui-icon {
    display: none;
}

.ui-multiselect-menu .ui-multiselect-checkboxes {
    border-top: 1px solid #eaeaea;
    height: 280px;
    padding: 8px 15px;
}

.ui-multiselect-menu .ui-multiselect-checkboxes .rank + .normal {
    margin-top: 10px;
    position: relative;
}

.ui-multiselect-menu .ui-multiselect-checkboxes .rank + .normal:before {
    content: '';
    position: absolute;
    left: -15px;
    right: -15px;
    top: -5px;
    height: 1px;
    background: #eaeaea;
}

.ui-multiselect-menu .ui-multiselect-checkboxes .ui-corner-all {
    height: 30px;
    border: 1px solid transparent;
}

.ui-multiselect-menu .ui-multiselect-checkboxes .ui-corner-all:hover,
.ui-multiselect-menu .ui-multiselect-checkboxes .ui-corner-all.ui-state-hover {
    background: #F2F6FA;
    border: 1px solid transparent;
}

.ui-multiselect-menu .ui-multiselect-checkboxes .empty-text {
    padding-top: 112px;
    height: 100%;
    font-size: 12px;
    text-align: center;
    color: #000;
    box-sizing: border-box;
}

.ui-multiselect-menu .ui-multiselect-checkboxes .ui-corner-all span {
    display: inline-block;
    margin-left: 5px;
    text-indent: 0;
}

.ui-footer {
    background: #fff;
    border-top: 1px solid #eaeaea;
    height: 44px;
    text-align: right;
    padding: 10px;
    line-height: 1;
}

.ui-footer a {
    background: #fff;
    display: inline-block;
    float: none;
    width: 60px;
    height: 24px;
    line-height: 24px;
    color: #0475ff;
    border: 1px solid #0475ff;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    transition: all 100ms ease-in-out;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
}

.grid-box {
    position: relative;
}

.ui-footer .multi-select-submit {
    margin-left: 5px;
    color: #fff;
    background: #0475ff;
}
