<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="config.properties" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                 ${log.pattern}
            </pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/${log.fileName}.log</file>
        <encoder>
            <pattern>
                ${log.pattern}
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/${log.fileName}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    
    <logger name="org.quartz" level="INFO" additivity="false">
        <appender-ref ref="console" />
    </logger>
    
    <logger name="com.spring" level="${log.level}" additivity="false">
        <appender-ref ref="console" />
    </logger>
    
    <root level="${log.level}">
        <appender-ref ref="console" />
    </root>
    
</configuration>
